
@model DatabaseCar.Presentation_Access_Layer.ViewModels.AccountantViewModel

<a href ="accountant/index">Go</a>
<section>
    <div class="container">
        <div class="row">

            <br />

            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/admin/index">Админпанель</a></li>
                    <li class="active">Управление товарами</li>
                </ol>
            </div>

            <a href="/adminTour/create" class="btn btn-default back"><i class="fa fa-plus"></i> Добавить тур</a>

            <h4>Список товаров</h4>

            <br />

            @if (ViewData["db"].ToString() == "Payrolls1")
            {
            <table class="table-bordered table-striped table">
                <tr>
                    <th>ID тура</th>
                    <th>Название тура</th>
                    <th>Описание</th>
                    <th>Цена</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Payrolls)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => @item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td><a href="/adminTour/Edit/@item.Id" title="Редактировать"><i class="fa fa-pencil-square-o">Edit</i></a></td>
                        <td><a href="/adminTour/delete/@item.Id" title="Удалить"><i class="fa fa-times">Delete</i></a></td>
                    </tr>
                }
            </table>
            }
        </div>
    </div>
</section>



@if (User.Identity.IsAuthenticated)
{
    <h6>Welcome</h6>
}
else
{
    <a href="/Auth/Logout">Exit</a>
}