

@model DatabaseCar.Data_Access_Layer.Entities.SellDocument

@{
    ViewBag.Title = "Create";
}

<section>
    <div class="container">
        <div class="row">

            <br />

            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/admin/index">Админпанель</a></li>
                    <li><a href="/accountant/index">Управление товарами</a></li>
                    <li class="active">Add sell doucument</li>
                </ol>
            </div>

            <h4>Add new sell document</h4>

            <br />

            @using (Html.BeginForm())
            {
                @Html.LabelFor(model => model.CarId, "Car")
                <br />
                @Html.EditorFor(model => model.CarId)
                <br /><br />
                @Html.LabelFor(model => model.ClientId, "Client")
                <br />
                @Html.EditorFor(model => model.ClientId)
                <br /><br />
                @Html.LabelFor(model => model.EmployeeId, "Employee")
                <br />
                @Html.EditorFor(model => model.EmployeeId)
                <br /><br />

                @Html.LabelFor(model => model.PaymentMethodId, "Payment method")
                <br />
                @Html.EditorFor(model => model.PaymentMethodId)
                <br /><br />

                @Html.LabelFor(model => model.Price, "Price")
                <br />
                @Html.EditorFor(model => model.Price)
                <br /><br />

                @Html.LabelFor(model => model.SaleDate, "Sale Date")
                <br />
                @Html.EditorFor(model => model.SaleDate)
                <br /><br />

                <input type="submit" class="btn btn-default" value="Add" />
            }


        </div>
    </div>
</section>