@model DatabaseCar.Data_Access_Layer.Entities.FinanceReport
@{
    ViewBag.Title = "Edit";
}

<section>
    <div class="container">
        <div class="row">

            <br />

            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="/admin/index">Админпанель</a></li>
                    <li><a href="/accountant/index">Управление товарами</a></li>
                    <li class="active">Edit finance report </li>
                </ol>
            </div>


            <h4>Are you want edit finance report @Model.Id ?</h4>

            <br />
            <h2>Finance report № @Model.Id</h2>
            <div class="col-lg-4">
                <div class="login-form">
                    <form action="/accountant/editFinanceReport" method="post" enctype="multipart/form-data">
                        @Html.HiddenFor(m => m.Id)
                        <p>
                            @Html.LabelFor(m => m.EmployeeId, "Employee")
                            <br />
                            @Html.EditorFor(m => m.EmployeeId)
                        </p>

                        <p>
                            @Html.LabelFor(m => m.Date, "Date")
                            <br />
                            @Html.EditorFor(m => m.Date)

                        </p>

                        <p>
                            @Html.LabelFor(m => m.BudgetChanged, "Budget changed")
                            <br />
                            @Html.EditorFor(m => m.BudgetChanged)
                        </p>

                        <p><input type="submit" value="Отправить" /></p>


                        <br /><br />

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>